/target/
/bak_github.git
/bak_aliyun.git
/*.project
/*.classpath
/*.settings
/lotteryappwebWebBootstrap
/bootstrapbgBgBootstrap
/lottery_web
/transaction-logs
/global_single
/*.idea
/*.iml
/hs_err_pid14184.log
/replay_pid14184.log
/apidoc/
/src/main/resources/config/site-dev.cfg
/doc/

/doc-game-turntable.rar
